.App1 {
  text-align: center;
  background-image: url(/static/media/sw-bg.dff75a1f.jpg);
  background-size: auto;

}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 5rem;
}
/* write your parent styles in here for your App.js */
