.Card {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 4px dotted black;
    background-size: cover;
  
  }

  .CardTitle{
    background-color: #1E90FF;
    padding: 2%; 
  }

  .CardText {
    color: #34415E;;
  }
    